html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "微软雅黑";
  line-height: 1.7em;
  vertical-align: baseline;
  color: #333;
}
img {
  width: 100%;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background: #fff;
}
ol,
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.page-nav {
  width: 100%;
  text-align: left;
  height: 120px;
  line-height: 15%;
  background: #feed22;
}
@media (min-width: 450px) {
  .page-nav .logo {
    width: 90px;
    border: 8px #fff solid;
    vertical-align: middle;
    margin-top: 11px;
    margin-left: 15%;
    margin-right: 4%;
  }
}
@media (max-width: 450px) {
  .page-nav .logo {
    height: 70px;
    border: 8px #fff solid;
    vertical-align: middle;
    margin: 17px 5px;
  }
}
.page-nav li {
  display: inline;
  padding: 5px;
  font-size: 14px;
}
.page-content {
  width: 100%;
  min-height: 80%;
}
.page-fotter {
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: #999;
  margin: 20px auto;
}
.page-fotter ul {
  color: #999;
}
.page-fotter ul li {
  display: inline;
  padding: 2px;
  color: #999;
}
.page-fotter ul li a {
  text-decoration: underline;
  color: #999;
}
html,
body {
  width: 100%;
  height: 100%;
}
html .home-page,
body .home-page {
  width: 100%;
  height: 100%;
  color: #fff;
}
html .home-page .home-bg,
body .home-page .home-bg {
  width: 100%;
  height: 70%;
  background: #feed22;
  text-align: center;
}
html .home-page .home-bg .home-container,
body .home-page .home-bg .home-container {
  width: 80%;
  margin: 0 auto;
  text-align: left;
}
@media (max-width: 700px) {
  html .home-page .home-bg .home-container .home-logo,
  body .home-page .home-bg .home-container .home-logo {
    display: none;
  }
}
@media (min-width: 700px) {
  html .home-page .home-bg .home-container .home-logo,
  body .home-page .home-bg .home-container .home-logo {
    display: inline;
    width: 25%;
    height: 25%;
    margin-top: 75px;
    border: 20px #fff solid;
  }
}
@media (max-width: 700px) {
  html .home-page .home-bg .home-container .home-content,
  body .home-page .home-bg .home-container .home-content {
    display: inline-block;
    width: 100%;
    margin: 13% auto;
    height: 220px;
    vertical-align: top;
    text-align: center;
  }
}
@media (min-width: 700px) {
  html .home-page .home-bg .home-container .home-content,
  body .home-page .home-bg .home-container .home-content {
    display: inline-block;
    height: 220px;
    vertical-align: top;
    margin-top: 13%;
    margin-left: 18%;
    text-align: center;
  }
}
html .home-page .home-bg .home-container .home-title,
body .home-page .home-bg .home-container .home-title {
  padding: 5px;
  color: #333;
}
html .home-page .home-bg .home-container .home-intro,
body .home-page .home-bg .home-container .home-intro {
  color: #333;
  margin-top: 10px;
}
html .home-page .home-bg .home-container .home-nav,
body .home-page .home-bg .home-container .home-nav {
  margin-top: 50px;
  color: #333;
}
html .home-page .home-bg .home-container .home-nav li,
body .home-page .home-bg .home-container .home-nav li {
  display: inline;
  padding: 5px;
}
html .home-page .home-bg .home-container .home-nav li a,
body .home-page .home-bg .home-container .home-nav li a {
  color: #333;
}
html .home-page .home-fotter,
body .home-page .home-fotter {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 13px;
  color: #333;
}
html .home-page .home-fotter ul li,
body .home-page .home-fotter ul li {
  display: inline;
  padding: 2px;
}
html .home-page .home-fotter ul li a,
body .home-page .home-fotter ul li a {
  color: #333;
  text-decoration: underline;
}
.archive-page {
  width: 70%;
  margin-left: 15%;
}
.archive-page .archive-text {
  padding: 35px 5px;
}
.archive-page section {
  margin-left: 5%;
}
.archive-page section article {
  padding: 0px 0px 20px 30px;
}
.archive-page section article .archive-title {
  font-size: 18px;
}
.archive-page section article .archive-title a {
  color: #333;
}
.archive-page section article .archive-info {
  font-size: 14px;
  padding-left: 2px;
  margin-top: -5px;
}
.archive-page section article .archive-info li {
  display: inline;
  padding: 5px 5px 5px 0px;
  color: #777;
}
.archive-page section article .archive-info li a,
.archive-page section article .archive-info li span {
  color: #777;
}
.archive-page section article .archive-info li .post-tags-list {
  display: inline;
}
.archive-page section article .archive-info li .post-tags-list a {
  color: #777;
}
.archive-page section article .archive-intro {
  font-size: 14px;
  color: #777;
}
.archive-page section article .archive-intro p,
.archive-page section article .archive-intro span,
.archive-page section article .archive-intro a {
  color: #777;
}
.archive-page section article .archive-intro p {
  text-indent: 10px;
}
.post-bg {
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}
.post-page {
  width: 100%;
  margin: 0 auto;
  background: rgba(255,255,255,0.8);
  min-height: 500px;
}
.post-page .post-content {
  width: 70%;
  margin: 0px auto;
  padding: 10px 0px 20px 0px;
}
.post-page .post-content .post-title {
  text-align: center;
  padding-top: 5px;
}
.post-page .post-content .post-meta {
  text-align: center;
  color: #999;
  font-size: 14px;
}
.post-page .post-content .post-meta li,
.post-page .post-content .post-meta .post-tags-list {
  display: inline;
  color: #999;
}
.post-page .post-content .post-meta li a,
.post-page .post-content .post-meta .post-tags-list a {
  color: #999;
}
.post-page .post-content .content {
  padding-top: 20px;
  text-indent: 20px;
  font-size: 14px;
}
.tag-list {
  width: 70%;
  margin: 0 auto;
}
.tag-list h2 {
  margin: 20px 0px 0px 10px;
}
.tag-list p {
  margin: 0px 0px 20px 20px;
}
.tag-list .tag-article {
  margin-left: 5%;
}
.tag-list .tag-article article {
  margin-bottom: 20px;
}
.tag-list .tag-article article .tag-article-info {
  font-size: 14px;
  color: #777;
}
.tag-list .tag-article article .tag-article-info li {
  display: inline;
  color: #777;
}
.tag-list .tag-article article .tag-article-info li ul,
.tag-list .tag-article article .tag-article-info li .tag-article-info li {
  display: inline;
}
.tag-list .tag-article article .tag-article-info li ul a,
.tag-list .tag-article article .tag-article-info li .tag-article-info li a {
  color: #777;
  padding: 5px;
}
.tag-page {
  width: 70%;
  margin: 10px auto;
}
.tag-page h1,
.tag-page p {
  text-align: center;
}
.tag-page p {
  color: #777;
}
.tag-page .tag-cloud-list {
  width: 80%;
  margin-left: 10%;
  margin-top: 8%;
  text-align: center;
}
.tag-page .tag-cloud-list a {
  padding: 3px;
}
