.home-page,
.home-bg {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.home-page .home-bg,
.home-bg .home-bg {
  position: absolute;
  top: 0px;
  left: 0px;
  background-image: url("./images/bg2.JPG");
  background-size: 100% 100%;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -ms-filter: blur(3px);
  -o-filter: blur(3px);
}
.home-page .home-title,
.home-bg .home-title {
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -ms-filter: blur(0px);
  -o-filter: blur(0px);
  width: 300px;
  text-align: center;
  margin: 250px auto;
  color: #fff;
}
.home-page .home-nav,
.home-bg .home-nav {
  text-align: center;
  overflow: hidden;
}
.home-page .home-nav .list-inline,
.home-bg .home-nav .list-inline {
  width: 100%;
  float: left;
  display: block;
  margin-top: 20px;
}
.home-page .home-nav .list-inline li,
.home-bg .home-nav .list-inline li {
  display: inline-block;
  width: 20%;
}
.home-page .home-nav .list-inline li a,
.home-bg .home-nav .list-inline li a {
  color: #fff;
}
